@page
@model CreeGuanajuato.Pages.Colonias.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-combobox.css" asp-append-version="true" />
}

<h2>Colonias</h2>

<p>
    <a asp-page="Create">Nuevo registro</a>
</p>

<form asp-page="./Index" method="get">
    <div class="row">
        <div class="col-lg-offset-1 col-md-1">
            <label>Búsqueda</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="busqueda" value="@Model.CurrentFilter" class="form-control" />
        </div>
        <div class="col-md-3">
            <select id="id_municipio" name="id_municipio" class="form-control" asp-items="ViewBag.id_municipio"></select>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Búsqueda" class="btn btn-default" />
        </div>
        <div class="col-md-1">
            <a asp-page="./Index" class="btn btn-default">Limpiar</a>
        </div>
        <div class="col-md-1">
            <a href="#" class="btn btn-default">Excel</a>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colonia[0].nombre_colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia[0].codigo_postal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia[0].Municipio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Colonia)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_colonia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_postal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio.nombre_municipio)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id_colonia">Modificar</a> |
                    <a asp-page="./Details" asp-route-id="@item.id_colonia">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id_colonia">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Colonia.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Colonia.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Colonia.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Colonia.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>

@section Scripts {
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/js/custom-combobox.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            function inicializa() {
                $("#id_municipio").append('<option value="0" selected>Seleccione<option>');
                $("#id_municipio").combobox();
            }

            $(document).ready(inicializa);
        })
    </script>
}