@page
@model CreeGuanajuato.Pages.Registros.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Registro.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.apellido_paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.apellido_paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.apellido_materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.apellido_materno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.INE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.INE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.fecha_nacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.fecha_nacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.numero_hijos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.numero_hijos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.Estado.nombre_estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.Municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.Municipio.nombre_municipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.Colonia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.Colonia.nombre_colonia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.Direccion.id_direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.Escolaridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.Escolaridad.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.EstadoCivil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.EstadoCivil.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Registro.Necesidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Registro.Necesidad.descripcion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Registro.id_registro" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
