@page
@model CreeGuanajuato.Pages.Municipios.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio.nombre_municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio.nombre_municipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Municipio.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio.Estado.cve_agee)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Municipio.id_municipio">Modificar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
