@page
@model CreeGuanajuato.Pages.Municipios.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Municipio[0].nombre_municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Municipio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.cve_agee)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_municipio">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_municipio">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_municipio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
